
.nn{height: 100px; width: 100px;border:2px dotted black ;text-align: center;margin: auto;box-sizing: border-box;margin-top: 200px;background-color: rgb(18, 100, 26); padding: 30px;}
.bb{height: 100px; width: 100px;background-color: red;margin:100px;}
h2{color: red;background-color: steelblue;margin-left: auto;padding:20px;width: 200px;text-align: center;}