
/* *{
    background-color: cadetblue;
} */
/* html{background-color: chartreuse;} */
/* .mmm p{width: 31%;
float: left;
text-align: justify;
margin-left: 10px;}
body{background-image: url(./pexels-maxandrey-1366630.jpg);
background-size: cover;
background-attachment: fixed;
} */
 .kk{font-size: 100px;
font: weight 900px;
background-image: url(./pexels-tgh2018-1269674.jpg);
background-size: cover;background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-size: 100px 100px;}

