/* .mm p{width: 32%;height: 50%;
    float:left;
    margin-left: 17px;
    color: blue;
text-align: justify;
}
body{background-image: url(./pexels-tgh2018-1269674.jpg);
background-size: cover;
background-attachment: fixed;
} */
 p{font-size: 100px;
font-weight: 800;
background-image: url(./pexels-tgh2018-1269674.jpg);
background-clip: text;
/* -webkit-background-clip: text; */
color: transparent;
background-size:200px;}
    