body{margin: 0%;
    padding: 0%;
    box-sizing: border-box;}

.main{display: flex;
    width: 100%;
    height: 100vh;}

.sidebar{background-color:#d7d9de91;
    height: 800px;
    width: 60px;
    transition: all 0.4s ease-out;}

.sidebar .smile{width: 100%;
    height: 80px;}    

.navbar{flex-grow: 1;
    background-color: #0096ff;
    display: flex;
    justify-content: end;
    width: 100%;
    flex-wrap: wrap;
    height: 80px;}

.rimage{width: 75px;
        height: 63px;
        border-radius: 50%;
        padding: 10px;} 

.navbar h2{margin-bottom:5px;
        margin-right: 6px;
        margin-top: 22px;
        font-size: 25px;} 

.navbar p{padding: 40px;
        text-align: justify;
        font-size: 20px;
        line-height: 1.4;
        color:#2a343c ;}

.content{background-color: #f5f8fa;}

.sidebar h1{display: none;
         font-size: 0%; 
         position: relative;
         bottom: 20px;
         left: 20px;}

.sidebar:hover{width: 230px;}

    
.sidebar:hover h1{display:inline-block;
                font-size: 20px;} 
   
   
   
    

    
